/**
* Adopt the rights of a child
* @author Andre Gidoin
* Card style
*/


ul, li {
  margin: 0;
  padding: 0;
  width: auto;
  text-align: left;
  list-style: none;
}

.root-container {
    margin: 40px;
    text-align: center;
    width: auto;
    font-family: 'Comfortaa', arial, sans-serif;
    font-size: 1em;
    color: #3F3F3F;
    overflow: visible;
}

h2 {
    margin: 0 0 0 0;
    font-size: 0.8em;
    padding: 25px 0 0 0;
  }
  h4 {
    margin: 12px 0 0 0;
    font-size: 0.7em;
    font-style:italic;
    font-weight:normal;
  }
  .CardContainer{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    align-items: center;
    width:220px;
    height: 300px;
    &:hover {
      transform: scale3d(1.09, 1.09, 1.09);
    }
    transition: ease-out 300ms, width 1s, height 1s;
    &.foldout {
      width: 660px;
      height: 490px;
      background-color: white;
      filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0.08));
    }
    
  }
  .ShadowContainer {
    height: 100%;
    width: auto;
    text-align: left;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.06));
    transition: ease-out 300ms, width 1s, height 1s;
    position: relative;
    &:hover {
      filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0.08));
    }
    &.foldout {
      filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0));
    }
  }
  .flipcard {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    transition: ease-in 300ms;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  .flipControls{
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
    width:100%;
    height:auto;
    transition: ease-out 300ms;
    &.foldout {
      margin: 20px 0 0 0;
      transition: ease-out 300ms;
    }
  }
  .flipControls li {
    display: inline-block;
    margin: 0 7px 0 7px;
  }
  .circle {
    width:17px;
    height:17px;
    background: white;
    border-radius: 50%;
    &.ring {
      width: 15px;
      height: 15px;
      border: 1px;
      border-color: white;
      border-style: solid;
      background: transparent;
    }
  }
  
  .articleNumber {
    font-family: 'Space Mono', monospace;
    color: #999999;
    font-size: 0.5em;
    position: absolute;
    top: -35px;
    width:100%;
    opacity: 1;
    transition: 1s;
    &.invisible {
      transition: 1s;
      opacity: 0;
    }
  }
  
  .ArtworkShape {
    width: 220px;
    height: 300px;
    background-color:rgb(255, 255, 255);        
    clip-path: polygon(0% 5%, 9% 0%, 91% 0%, 100% 5%, 100% 95%, 91% 100%, 9% 100%, 0 95%);
    transition: ease-out 300ms, width 1.2s, height 1.2s;
    display:inline-block;
      &.foldout {
        clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0 100%);
        width: 316px;
        height: 458px;
        padding: 15px;
        display:inline-block;
      }
  }
  
  .ArticleHeadline {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .theArtwork {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
  }
  .theArtwork img {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #IPFSImage {
    height: inherit;
  }
  .slideshow {
    display:none;
  }
  
  
  .currentOwner {
    color: #124588;
  }
  .ownerPlaque {
    position: absolute;
    bottom: -17px;
    height: 34px;
    width: 100%;
    background-color: white;
    opacity: 1;
    transition: 0.4s;
    transition-delay: 1s;
    text-align: center;
    &.invisible {
      transition: 0.4s;
      opacity: 0;
    }
  }
  .ownerPlaqueSmall {
    margin: 6px 0 0 0;
    padding: 0 0 0 0;
    font-size: 5px;
  }
  .ownerPlaqueBig {
    margin: 2px 0 0 0;
    padding: 0 0 0 0;
    font-size: 0.8em;
  }
  
  // FOLDOUT
  
.articleInfo {
  display:inline-block;
  width: 47%;
  height: 98%;
  vertical-align: top;
  box-sizing: border-box;
  padding:5px;
  overflow: scroll;
  opacity: 0;
  transition: 0.5s;
  &.visible {
    opacity: 1;
    transition: 0.5s;
  }
}

.articleInfo h1, h2 {
  font-size: 0.9em;
  margin: auto;
  padding: 0 0 0 0;
  line-height: 1.4;
}

.worthInfo {
  text-align: center;
  font-size: 1.3em;
  &.noWorth {
    font-size: 0.9em;
    margin-top: -7px;
  }
}
.articleInfoNumber{
  padding-top:10px;
}
.numerals {
  font-family: 'Space Mono', monospace;
  color: #999999;
  font-size: 0.5em;
}
.redeem {
  padding-top:10px;
}
.redeem p {
  font-size: 0.5em;
  color: gray;
}
  .ArticleContainer {
    margin: 0 0 0 0;
    padding: 0 10px 0 0;
    height: auto;
  }
  .ArticleText {
    font-size: 0.65em;
    text-align: left;
    color: black;
  }
  .ownerHistory {
    margin: 0 0 0 0;
    padding: 10px 0 0 0;
  }
  div.ownerHistory ul.ownerlist {
    font-size: 0.7em;
    padding-top: 4px;
  }
  .dot {
    margin: 0 3px 0 3px;
    height: 3px;
    width: 3px;
    background-color: #3F3F3F;
    border-radius: 50%;
    display: inline-block;}
  
  
  // CONTROLS
  
  .articleControls {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-top: 0px;
    text-align: center;
    width: 236px;
    height:auto;
    opacity:0;
    transition: ease-in 200ms;
    &.invisible {
      transition: 1s;
      opacity: 0;
    }
  }
  .transparency {
    opacity:1;
  }
  .gold {
    color: #FFB000;
    font-family: 'Space Mono', monospace;
    font-size: 0.7em;
    margin: 12px 0 12px 0;
  // background: -webkit-linear-gradient(#eee, #FFB000);
  //  -webkit-background-clip: text;
  //  -webkit-text-fill-color: transparent;
  }
  .buying {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    opacity: 0;
    transition: 0.5s;
    &.visible {
      opacity: 1;
      transition: 0.5s;
    }
  }
  input {
    display: inline-block;
    height: 40px;
    outline:none;
    background:white;
    border-radius:6px;
    border-style: none;
    box-sizing: border-box;
    padding-left:8px;
    color: black;
  }
  input::placeholder {
    color: #BABABA;
  }
  input[type=text] {
    width: 45%;
    margin-right:7px;
  }
  input[type=number] {
    width:15%;
    margin-right:7px;
  }
  .Button-Buy {
    display: inline-block;
    margin-left:7px;
    margin: 12px 0 0 0;
    padding: 0 0 0 0;
    font-family:'Comfortaa', cursive;
    font-size:0.8em;
    height: 40px;
    width:37.8%;
    outline:none;
    background:white;
    border-radius:6px;
    border-style: none;
    box-sizing: border-box;
    background: -webkit-linear-gradient(#68F09E, #00AA56);
    color: white;
    transition: ease-in 300ms;
    cursor: pointer;
  }
  .Button-Inactive {
    margin: 0 0 12px 0;
    padding: 0 15px 0 15px;
    font-family:'Comfortaa', cursive;
    font-size:0.8em;
    height: 45px;
    width:auto;
    outline:none;
    background:white;
    border-radius:6px;
    border-style: none;
    box-sizing: border-box;
    background: -webkit-linear-gradient(#68F09E, #00AA56);
    color: white;
    transition: ease-in 300ms;
    cursor: no-drop;
  }
  .smallText {
    font-size:9.5px;
    color: #A0A0A0;
    line-height: 1.5;
  }
  
  .inProcess {
    display: inline-block;
    height: 30px;
    margin: 0 0 0 14px;
  }
  
  // LINKS
  a {
    color: #FFB000;
  }
  a:hover {
    color: black;
  }
  
  // loader stuff
  .adoptionPending {
    display: inline;
  }
  .adoptionPending img  {
    position:relative;
    bottom: -11px;
    left: -10px;
    width: auto;
    height: 30px;
    margin-top: -30px;
  }
  
  #PlaqueShape {
    clip-path: polygon(75% 0, 82% 50%, 75% 100%, 25% 100%, 18% 50%, 25% 0%);
  }
  
  // New Card Styles
  .closeX {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    &.foldout {
      transition: 1s;
      opacity: 1;
    }
  }
  .closeX img {
    width: 14px;
    height: auto;
    padding: 10px;
  }
  
  
  // FALLBACK STYLES
  .NoOwner {
    font-family: 'Space Mono', monospace;
    font-size: 0.6em;
    margin: 12px 0 12px 0;
    color:red;
  }
  .Pending {
    background: -webkit-linear-gradient(#7FFFEB, #0065FF);
  }
  .Failure { 
    background: -webkit-linear-gradient(#FFC794, #E90020);
  }
  .Success {
    background: -webkit-linear-gradient(#DDDDDD, #B2B2B2);
  }
  .TransactionButtonText {
    display: inline-block;
    margin: 7px 0 0 0;
    vertical-align: top;
  
  }
  